.main__nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  background-color: #13a4a4;
}
.main__nav--item {
  display: inline-block;
}
.main__nav--item a {
  color: white;
  padding: 5px;
  text-decoration: none;
}
.main__nav--item a:hover {
  color: darkgray;
}
.main__nav--item a::after {
  content: " | ";
}
.caja {
  display: flex;
  justify-content: space-evenly;
  border: solid black;
}
.box {
  background-color: crimson;
  width: 100px;
  height: 100px;
}
#two {
  background-color: gold;
}
